.footer__wrapper {
    background: #2C343E;
    padding: 54px 85px;
    margin-bottom: 135px;
    display: flex;
    align-items: center;
    gap: 103px;
}
.footer__wrapper a img {
    display: block;
}
.footer__anchor_items {
    display: flex;
    gap: 33px;
}
.footer__anchor_items a {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: all 0.3s ease-in;
}
.footer__anchor_items a:hover {
    cursor: pointer;
    color: #FEFCF7;
}
.footer__link_items {
    margin-left: 266px;
    display: flex;
    align-items: center;
    gap: 19px;
}
.footer__link_items a img:hover {
    cursor: pointer;
}