// Header
.header__container {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__ontainer a img {
    display: block;
}
// Navbar
.header__nav_list {
    display: flex;
    align-items: center;
    gap: 33px;
}
.header__nav_list a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: all 0.3s ease-in;
}
.header__nav_list a:hover {
    color: #333D4B;
    cursor: pointer;
}
// End of Navbar
// End of Header
// Media queries

// For Tablets
@media (min-width: 413px) and (max-width: 768px) {
    .container {
        max-width: 687px;
    }
}


// For Mobile Phones
@media only screen and (max-width: 412px) {
    .container {
        max-width: 327px;
    }
    .header__nav_list {
        gap: 5px;
    }
}