// Hero Section
.hero3__container {
    padding: 134px 85px;
    margin-bottom: 155px;
    background-image: url("../Images/Questions__hero_back_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.hero3__container h1 {
    font-family: 'Fraunces';
    font-style: normal; 
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
    color: #FEFCF7;
}
.hero3__container p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 445px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
// End of Hero Section
// Instructions Section
.instructions2__container {
    background: #2C343E;
    border-radius: 10px;
    padding: 100px 85px;
    margin-bottom: 168px;
}

.instructions2__list {
    display: flex;
    gap: 95px;
    
    background-image: url("../Images/Questions-page-instructions-back.png");
    background-repeat: no-repeat;
    background-position: left top 15px;
}

.instructions2__list_items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    .instructions2__oval {
        width: 31px;
        height: 31px;
        background: #2C343E ;
        border: 2px solid #0E8784;
        border-radius: 50%;  
        margin-bottom: 27px;
    }

    .instructions2__number {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }

    h2 {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 2px;
        color: #FEFCF7;
    }

    p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        width: 285px;
        color: #FEFCF7;
    }
} 

// End of Instructions Section
// Questions Section
.questions__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 125px;
    margin-bottom: 168px;
}
.questions__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    a {
        display: flex;
        gap: 28px;
        
        border-bottom: 1px solid #83888f4d;
        padding-bottom: 24px;
        width: 255px;

        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;

        span {
            font-size: 26px;
        }

        &:hover {
            cursor: pointer;
            color: #74869e;
        }

        &:active {
            color: #333D4B;
        }
    }
}
// Questions Menu 
.questions__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.coffee__form_heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 56px;
        margin-left: 24px;
        color: #83888F;
}
.coffee__question {
    display: flex;
    gap: 23px;
    margin-bottom: 88px;

    &_option {
        position: relative;
        height: 250px;
        width: 228px;
        padding: 32px 28px;
        background: #F4F1EB;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        &:hover {
            background: #FDD6BA;
        }

        .coffee__question_heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
        }

        h3 {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #333D4B;
        }
        
        p {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px; 
            color: #333D4B;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        } 
    }
}
.coffee__question {

    div {
        display: flex;
        justify-content: center;
        gap: 23px;

        input {
            appearance: none;

            &:checked + .coffee__question_option {
            background: #0E8784;
            }
            &:checked + .coffee__question_option > h3 {
                color: #FEFCF7;
            }
            &:checked + .coffee__question_option > p {
                color: #FEFCF7;
            }
        }
    }
}
// End of Questions Menu
.questions__hero {
    padding: 31px 64px;
    background: #2C343E;
    border-radius: 10px;
    width: 800px;
    margin-bottom: 40px;

    h3 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    p {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 40px;
        color: #FFFFFF;

        span {
            color: #0E8784;
        }
    }
}
.questions__btn {
    display: flex;
    align-self: flex-end;

    button {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        padding: 15px 35px;
        border-radius: 6px;
        border: none;
        color: #FEFCF7;
        background: #66D2CF; 
    }

}
// End of Questions Section
