.hero3__conatainer {
    padding: 134px 85px;
    background-image: url("../Images/Questions__hero_back_img.jpg");
    background-repeat: no-repeat;
    
}
.hero3__container h1 {
    font-family: 'Fraunces';
    font-style: normal; 
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
    color: #FEFCF7;
}
.hero3__container p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}