*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Barlow", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__container {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container a img {
  display: block;
}

.header__nav_list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__nav_list a {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: all 0.3s ease-in;
}

.header__nav_list a:hover {
  color: #333D4B;
  cursor: pointer;
}

.hero__container {
  padding: 137px 85px;
  margin-bottom: 168px;
  background-image: url(../images/Hero-back-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  color: #FEFCF7;
}
.hero__container p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 445px;
  color: #FEFCF7;
}

.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-bottom: 120px;
}
.intro__container img {
  border-radius: 8px;
}

.intro__wrapper h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #333D4B;
}

.intro__wrapper p {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.info__container {
  padding-top: 82px;
  margin-bottom: 168px;
}

.info__wrapper {
  height: 474px;
  padding: 88px 85px;
  background: #2C343E;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.info__wrapper_img {
  border-radius: 8px;
  flex-shrink: 0;
  margin-bottom: 164px;
}

.info__wrapper_head h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #FEFCF7;
}

.info__wrapper_head p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.headquarters__container {
  margin-bottom: 168px;
  padding-left: 85px;
}
.headquarters__container .headquarters__heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 75px;
  color: #83888F;
}

.headquarters__list {
  display: flex;
  gap: 108px;
}

.headquarters__list_items img {
  height: 49px;
  margin-bottom: 45px;
}

.headquarters__list_items h4 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
  color: #333D4B;
}

.headquarters__list_items p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.footer__wrapper {
  background: #2C343E;
  padding: 54px 85px;
  margin-bottom: 135px;
  display: flex;
  align-items: center;
  gap: 103px;
}

.footer__wrapper a img {
  display: block;
}

.footer__anchor_items {
  display: flex;
  gap: 33px;
}

.footer__anchor_items a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: all 0.3s ease-in;
}

.footer__anchor_items a:hover {
  cursor: pointer;
  color: #FEFCF7;
}

.footer__link_items {
  margin-left: 266px;
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__link_items a img:hover {
  cursor: pointer;
}/*# sourceMappingURL=about.css.map */